@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

html {
  font-size: 16px;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 15, 23, 42;
}

.bold {
  font-weight: 900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 15, 23, 42;
  }
}

@layer base {
  body {
    @apply font-roboto text-text;
    background: $gradient-dark;
    color: $color-text-white;
    overflow-x: hidden;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins text-heading;
    color: $color-text-white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.social {
  display: inline-block;
  text-align: center;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: 'sakuna';
  src: url('../../../public/fonts/sakuna.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.btn {
  background-color: transparent;
  color: $color-text-white;
  @apply text-2xl font-bold;
  transition: all $transition-medium;

  &--nav {
    padding: 1rem 1.5rem;
    border-radius: $border-radius-medium;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: $gradient-primary;
      transition: left $transition-medium;
      z-index: -1;
    }

    &.active {
      font-weight: 900;
      background: $gradient-nav;
      background-size: 200% 200%;
      animation: gradientShift $gradient-animation-duration ease infinite;
      color: $color-text-white;
      box-shadow: $shadow-red;
      transform: translateY(-2px);

      &::before {
        left: 0;
      }
    }

    &:hover {
      background: $gradient-nav;
      background-size: 200% 200%;
      animation: gradientShift $gradient-animation-duration ease infinite;
      color: $color-text-white;
      transform: translateY(-3px);
      box-shadow: $shadow-red;

      &::before {
        left: 0;
      }
    }
  }
}
