@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');

html {
  font-size: 16px;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 15, 23, 42;
}

.bold {
  font-weight: 900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 15, 23, 42;
  }
}

@layer base {
  * {
    color: $color-text-white;
  }

  body {
    @apply font-roboto text-text;
    background: $gradient-dark;
    color: $color-text-white;
    overflow-x: hidden;
  }

  input,
  textarea,
  button,
  select {
    padding: 1rem;
    color: $color-text-white;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    padding: 1rem;
    color: $color-text-white;
    -webkit-text-fill-color: $color-text-white;
  }

  .footer,
  .footer p {
    color: $color-text-white;
    text-align: center;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins text-heading;
    color: $color-text-white;
  }

  .font-space-mono {
    font-family: 'Space Mono', monospace;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.social {
  display: inline-block;
  text-align: center;
}

.success {
  color: $color-success;
}

.error {
  color: $color-error;
}

.btn {
  background-color: transparent;
  color: $color-text-white;
  @apply text-2xl font-bold;
  transition: all $transition-medium;

  &--nav {
    padding: 1rem 1.5rem;
    border-radius: $border-radius-medium;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: $gradient-primary;
      transition: left $transition-medium;
      z-index: -1;
    }
  }
}
