@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  50% {
    border-right-color: #1e40af;
  }
  to {
    border-right-color: transparent;
  }
}

h1.logo {
  font-family: sakuna;
  font-size: 4rem;
  color: #1f2937;
  padding: 0 1rem;

  .animated {
    white-space: nowrap;
    border-right: 0.5rem solid #1e40af;
    overflow: hidden;
    animation:
      typing 4s steps(30, end) forwards,
      blink-caret 5s step-end forwards;
  }

  @media (max-width: 599px) {
    font-size: 2.5rem;
  }
}
