.align-with-image p {
    display: flex;
    align-items: flex-start;
    img {
        width: 20%;
        margin-left: 2rem;
        max-width: 200px;
        border-radius: 1rem;
    }
    .body {
        display: block;
        width: 80%;
    }
}