@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -100% 0; }
}

.home {
    background-image: url('/images/coffee-bg.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding-top: 6.5rem;
    height: calc(100vh - 6.5rem);

    .container {
        scroll-snap-type: y mandatory;
        overflow-y: auto;
        scrollbar-width: thin;
        
        .section {
            display: flex;
            flex-direction: row;
            padding: 5rem 0;
            height: calc(100vh - 10rem);
            scroll-snap-align: start;

            .section-inner {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 80%;
            }

            .section-image {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 20%;
                img {
                    border-radius: 1rem;
                }

                .me {
                    border: solid 0.25rem orange;
                    width: 20rem;
                }   
            }
        }
    }

    .header {
        background-image: url('/images/kafel1.jpg');
        background-size: 19.5rem;
        animation: animatedBackground 100s linear alternate infinite;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        height: 6.5rem;
    
        h1.logo {
            font-family: sakuna;
            font-size: 4rem;
        }
    }
    
}
